

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
  text-align: center;
}

#submitButton {
  margin: 20px;
  
}



#total {
  float: right;
}

.highlightRed {
  background-color: red;
}